<h1>Evaluation</h1>
<div class="col-md-6">
    <table class="table">
      <tr>
        <td>Teacher</td>
        <td><%= @evaluation.teacher.user.full_name %></td>
      </tr>
      <tr>
        <td>Student</td>
        <td><%= @evaluation.student.user.full_name %></td>
      </tr>
      <tr>
        <td>Subject</td>
        <td><%= @evaluation.teacher.subject.name %></td>
      </tr>
      <tr>
        <td>Date</td>
        <td><%= @evaluation.date %></td>
      </tr>
      <tr>
        <td>Score</td>
        <td>
          <span class="label label-<%= @score_class %>"><%= @score %></span>
        </td>
      </tr>
      <% if @evaluation.score_points %>
          <tr>
            <td>Points</td>
            <td><%= @evaluation.score_points %> / <%= @evaluation.total_score %></td>
          </tr>
      <% end %>
      <tr>
        <td>Description</td>
        <td><%= @evaluation.description %></td>
      </tr>
    </table>
</div>
