<h1><%= @teacher.klass.name %> <small><%= @teacher.subject.name %></small></h1>
<div class="table-responsive">
  <table class="table table-striped grid-evaluation">
    <thead>
      <tr>
        <th>Student</th>
        <% @types.each do |type| %>
          <th><%= type.name %></th>
        <% end %>
      </tr>
    </thead>
    <% @students.each do |student|; types = @data[student.id] %>
      <tr>
        <td><%= student.user.full_name %></td>
        <% types.each do |type_id, evals| %>
            <td><% evals.each_with_index do |eval, index|
              %><span class="evaluation-box-container <%= 'bg-success' if @columns[type_id].include? index %>"><%=
                evaluation_button(eval)
              %></span><% end
            %><%=
                new_evaluation_button(@teacher, student, type_id)
            %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
