<h1><%= @klass.name %> <small><%= @klass.detail %></small></h1>

<%= bootstrap_panel('Students') do %>
    <ol>
      <% if @today_signs.empty? %>
        <% @students.each do |stud| %>
          <li>
            <%= stud.user.full_name %>
            <span class="label label-default">Unknown</span>
          </li>
        <% end %>
      <% else %>
        <% @students.each do |stud| %>
          <li>
            <%= stud.user.full_name %>
            <%= student_presence_badge(stud, @today_presences) %>
          </li>
        <% end %>
      <% end %>
    </ol>
    <% if PresencePolicy.new(current_user, Presence.new(klass: @klass)).index? %>
      <%= link_to 'Presences', klass_presences_path(@klass), class: ['btn', 'btn-primary'] %>
    <% end %>
<% end %>

<%= bootstrap_panel('Teachers') do %>
    <ul>
      <% @teachers.each do |teach| %>
          <li><%= teach.user.full_name %></li>
      <% end %>
    </ul>
<% end %>

<%= bootstrap_panel("Today's signs") do %>
    <ul>
      <% @today_signs.each do |sign| %>
          <li><%= sign.teacher.full_name %> [<%= sign.subject.name %>] - <%= sign.lesson %></li>
      <% end %>
    </ul>
<% end %>

<%= bootstrap_panel("Today's events") do %>
    <ul>
      <% @today_events.each do |event| %>
          <li><%= event.teacher.full_name %> - <%= event.text %></li>
      <% end %>
    </ul>
<% end %>

<% if policy(:klass).manage? %>
    <div class="clearfix"></div>
    <hr/>
    <div class="form-group">
      <% if policy(:klass).edit? %>
          <%= link_to 'Edit', edit_klass_path(@klass), class: ['btn', 'btn-warning'] %>
      <% end %>
      <% if policy(:klass).destroy? %>
          <%= link_to 'Delete', klass_path(@klass), class: ['btn', 'btn-danger'],
                      method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
<% end %>
